@import "tailwindcss";

:root {
font-family: leggib; 
}

html {
  /* overflow-x : hidden; */
  margin: 0, 0, 0, 0;
}
body {
  margin: 0;
}
* {
  overflow: visible;
}

@theme {
  --font-leggib: leggib;
}

@font-face {
  font-family: "leggib";

  font-weight: normal;
  font-style: normal;
  src: url("../public/fonts/Leggibilmente-MediumRoman.otf") format("truetype");
}
@font-face {
  font-family: "leggib";

  font-weight: bold;
  font-style: normal;
  src: url("../public/fonts/Leggibilmente-BoldRoman.otf") format("truetype");
}
