@import "tailwindcss";

:root {
font-family: leggib; 
}

html {
  /* overflow-x : hidden; */
  margin: 0, 0, 0, 0;
}
body {
  margin: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --font-leggib: leggib;
}

@font-face {
  font-family: "leggib";

  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Leggibilmente-MediumRoman.otf") format("truetype");
}
@font-face {
  font-family: "leggib";

  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Leggibilmente-BoldRoman.otf") format("truetype");
}
